// background
$green: #034C29;
$orange: #FF5A00;
$yellow-light: #C2BD88;
$white: #ffffff;
$dark: #191F26;

//color
$color-green: #034C29;
$color-orange: #FF5A00;
$color-yellow-light: #C2BD88;
$color-white: #ffffff;
$color-dark: #2F2F2F;
